<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(vm.isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(vm.isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(vm.isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <!-- -->
            <a mat-list-item *ngFor="let item of vm.items"
               [routerLink]="[item.link]">
                {{item.label}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="vm.isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Reactive Architecture and UX Patterns</span>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
